body{
	margin: 0;
}
.all{
	width: 100%;
	height: 100%;
}
.body-box{
	width: 1280px;
	height: 720px;
	margin: 0 auto;
}
.login-box{
	width: 350px;
	height: 400px;
	float: right;
	margin-right: 50px;
	margin-top: 100px;
	border: 1px solid gainsboro;
}
.register-box{
	width: 1000px;
	height: 400px;
	margin:0 auto;
	margin-top: 100px;
	border: 1px solid gainsboro;
}
.input-box{
	padding-top: 80px;
	width: 300px;
	height: 220px;
	margin: 0 auto;
}
label{
	color: darkgray;
	font-size: 20px;
}
input{
	width: 280px;
	height: 30px;
	margin-bottom: 25px;
	outline:none;
	font-size: 20px;
}
.login-button{
	width: 250px;
	height: 100%;
	margin-right: 50px;
	float: right;
	
}
button{
	display: block;
	width: 250px;
	height: 25px;
	margin-bottom: 10px;
	
}

.btn{
	display: block;
	width: 250px;
	height: 40px;
	margin-bottom: 10px;
	background-color: dodgerblue;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}
.btn:hover{
	background-color:#296dff;
	cursor: pointer;
}
a{
	text-decoration: none;
}
.register-input-box{
	padding-top: 80px;
	width: 320px;
	height: 220px;
	float: left;
	margin-left: 50px;
}

.notice{
	color: red;
}